@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$white: hsl(36, 100%, 99%);
$gray: hsl(233, 8%, 79%);
$dark-gray: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media screen and (max-width: 1366px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1280px) {
    font-size: 12px;
  }
}

body {
  height: var(--height);
  background-color: $white;

  &:has(#app.mobile) {
    overflow: hidden;
  }
}

#mask {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;

  &.active {
    z-index: 9;
    opacity: 1;
  }
}

#app {
  height: var(--height);
  max-width: 1440px;
  min-width: 1038px;
  padding: 3rem 3rem 0 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    ul {
      display: flex;
      list-style: none;
      color: $dark-gray;

      li {
        margin-left: 3rem;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: $red;
        }
      }

      .close {
        display: none;
      }
    }

    .menu {
      display: none;
    }
  }

  main {
    display: grid;
    grid-template-areas: 'main main new' 'main main new' 'list list list';
    margin-top: 3rem;
    gap: 5rem 2.5rem;

    .main-article {
      grid-area: main;
      display: grid;
      grid-template-areas: 'banner banner' 'h1 text';
      gap: 3rem 4rem;

      img {
        grid-area: banner;
        width: 100%;

        &.mobile {
          display: none;
        }
      }

      h1 {
        grid-area: h1;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 800;
      }

      div {
        grid-area: text;

        p {
          font-size: 1.2rem;
          line-height: 2rem;
          color: $dark-blue;
        }

        button {
          margin-top: 30%;
          padding: 1rem 2rem;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 1.1rem;
          letter-spacing: 0.3rem;
          background-color: $red;
          color: $white;
          text-transform: uppercase;
          transition: background-color 0.2s;
          cursor: pointer;

          &:hover {
            background-color: $dark-blue;
          }
        }
      }
    }

    .new-list {
      grid-area: new;
      display: flex;
      flex-direction: column;
      max-height: 43rem;
      padding: 2rem 1.8rem;
      background-color: $dark-blue;
      color: $white;

      h2 {
        font-size: 2.6rem;
        color: $orange;
      }

      ul {
        flex: 1;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin-top: 1.2rem;
        list-style: none;

        li {
          align-self: center;
          padding: 2rem 0;
          border-bottom: 1px solid $dark-gray;

          &:last-child {
            border-bottom: none;
          }

          h3 {
            font-size: 1.7rem;
            margin-bottom: 1rem;
            transition: color 0.2s;
            cursor: pointer;

            &:hover {
              color: $orange;
            }
          }

          p {
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: $gray;
          }
        }
      }
    }

    .list {
      grid-area: list;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.5em;
      list-style: none;

      li {
        display: flex;
        height: 10rem;

        .text {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 1rem;
          margin: 0 1rem 0 2rem;

          h2 {
            color: $gray;
            font-size: 2rem;
            font-weight: 800;
          }

          h3 {
            font-size: 1.4rem;
            font-weight: 800;
            transition: color 0.2s;
            cursor: pointer;

            &:hover {
              color: $red;
            }
          }

          p {
            line-height: 1.8rem;
            color: $dark-blue;
          }
        }
      }
    }
  }

  footer {
    margin-top: 10rem;
    text-align: center;
    color: $gray;

    a {
      text-decoration: none;
      color: $orange;
      font-weight: bold;
    }
  }
}

#app.mobile {
  min-width: unset;
  padding: 2rem 1rem;

  nav {
    .logo {
      width: 4rem;
    }

    ul {
      position: fixed;
      flex-direction: column;
      z-index: 10;
      right: -300px;
      top: 0;
      width: 250px;
      height: 100vh;
      padding-top: 22%;
      background-color: $white;
      transition: right 0.3s;

      .close {
        position: absolute;
        right: 2rem;
        top: 2rem;
        display: block;
      }

      li {
        font-size: 2rem;
        margin-top: 10%;
      }

      &.active {
        right: 0;
      }
    }

    .menu {
      display: block;
    }
  }

  main {
    grid-template-areas: 'main' 'new' 'list';
    gap: 4rem;
    width: 100%;

    .main-article {
      grid-template-areas: 'banner' 'h1' 'text';

      h1 {
        font-size: 4rem;
        line-height: 4rem;
      }

      img {
        width: 100%;

        &.desktop {
          display: none;
        }

        &.mobile {
          display: block;
        }
      }

      div {
        button {
          margin-top: 4rem;
        }
      }
    }

    .new-list {
      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }

    .list {
      grid-template-columns: none;

      li {
        height: 12rem;

        h2 {
          font-size: 3rem;
        }

        h3 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
}
