@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$white: hsl(36, 100%, 99%);
$gray: hsl(233, 8%, 79%);
$dark-gray: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);

* {
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $white;
}

#app {
  max-width: 1440px;
  width: 100%;
  padding: 3rem 3rem 0 3rem;
  margin: 0 auto;
  box-sizing: border-box;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    ul {
      display: flex;
      list-style: none;
      color: $dark-gray;

      li {
        margin-left: 3rem;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: $red;
        }
      }
    }
  }

  main {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin-top: 3rem;
    gap: 5rem 2.5rem;

    .main-article {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      display: grid;
      grid-template: auto 1fr / 1fr 1fr;
      gap: 3rem 6rem;

      img {
        grid-column: 1 / span 2;
        width: 100%;
        height: 100%;
      }

      h1 {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 800;
      }

      div {
        display: flex;
        flex-direction: column;

        p {
          line-height: 2rem;
          color: $dark-blue;
        }

        button {
          display: inline;
          width: fit-content;
          margin-top: auto;
          padding: 1rem 2rem;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 1.1rem;
          letter-spacing: 0.3rem;
          background-color: $red;
          color: $white;
          text-transform: uppercase;
          transition: background-color 0.2s;
          cursor: pointer;

          &:hover {
            background-color: $dark-blue;
          }
        }
      }
    }

    .new-list {
      grid-column: 3;
      grid-row: 1 / span 2;
      display: flex;
      flex-direction: column;
      padding: 2rem 1.8rem;
      background-color: $dark-blue;
      color: $white;

      h2 {
        font-size: 2.6rem;
        color: $orange;
      }

      ul {
        flex: 1;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin-top: 1.2rem;
        list-style: none;

        li {
          align-self: center;
          padding: 2rem 0;
          border-bottom: 1px solid $dark-gray;

          &:last-child {
            border-bottom: none;
          }

          h3 {
            font-size: 1.7rem;
            margin-bottom: 1rem;
            transition: color 0.2s;
            cursor: pointer;

            &:hover {
              color: $orange;
            }
          }

          p {
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: $gray;
          }
        }
      }
    }

    .list {
      grid-column: 1 / span 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.5em;
      list-style: none;

      li {
        display: flex;
        height: 10rem;

        .text {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 1rem;
          margin: 0 1rem 0 2rem;

          h2 {
            color: $gray;
            font-size: 2rem;
            font-weight: 800;
          }

          h3 {
            font-size: 1.4rem;
            font-weight: 800;
            transition: color 0.2s;
            cursor: pointer;

            &:hover {
              color: $red;
            }
          }

          p {
            line-height: 1.8rem;
            color: $dark-blue;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    color: $gray;

    a {
      text-decoration: none;
      color: $orange;
      font-weight: bold;
    }
  }
}
